* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

/* reusable classes */

.container-1100{
    max-width: 1100px;
    margin: 0 auto;
}

.container-1300{
    max-width: 1300px;
    margin: 0 auto;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.vertical-align{
    vertical-align: middle;
}

.inline-block{
    display: inline-block;
}

/* ----------- */

.container-float.left{
    float: left;
}

.container-float.right{
    float: right;
}
nav img{
    margin-left: 1.5em;
}

nav ul{
    display: inline-block;

    font-size: 0;
}

nav li{
    display: inline-block;
    margin: 1.5em;

    list-style: none;
    vertical-align: middle;

    font-size: 20px;
}

nav a{
    color: black;
    text-decoration: none;
    padding: .5em 0;
}

.btn-nav{
    margin: 1em;
}

.btn-blue{
    padding: .5em 1em;

    background-color: #0061ff;
    color: white;
    text-decoration: none;
}

header{
    position: relative;

    height: 750px;

    background-color: #b4d0e7;
}

header h1{
    font-size: 80px;

    padding-top: 1em;
    word-wrap: ;
}

header div{
    max-width: 400px;
}

header p{
    margin: 2em 0;
    font-size: 20px;
    line-height: 1.3em;
}

header i{
    font-size: 36px;
}

a:visited > .fa-arrow-down{
    color: black    ;
}

.jumbo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -12%);
    max-height: 550px;
}

.plan{
    padding-top: 200px;
}

.circle{
    width: 20px;
    height: 20px;
    border: 1px solid grey;
    border-radius: 50%;
}

.circle-blue{
    border: 5px solid #0061FF;
}

h2{
    font-size: 50px;
    margin: 1em 0;
}

.billing > p{
    display: inline-block;
    margin-right: 1.5em;
    margin-bottom: 3em;
}

.card-long{
    max-width: 350px;
    max-height: 1100px;
    border: 1px solid gray;
}

.card-title{
    padding: 1em;
    border-bottom: 1px solid gray;
    text-align: center;
}

.card-content{
    padding: 2rem;
}

.card-long h3{
    margin: 1em 0;
    font-size: 30px;
}

.conditions{
    color: gray;
    margin-bottom: 50px;
}

.card-content p{
    padding-bottom: 1.5em;
}

.card-content .btn{
    margin: 30px 0;
    display: block;
    text-align: center;
}

.card-content a:hover{
    text-decoration: none;
}

p a:visited{
    color: #0061FF;
}

.card-content li{
    list-style: none;
    text-align: left;
}

.card-content li::before{
    content: "\2713";
    color: #0061FF;
}


